*{
    margin: 0; 
    padding:0 ;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'poppins', sans-serif;
}
body{
    background-color:#F2F2F6;
    
}
            /* Navbar */

nav{
    display: grid;
    grid-template-columns: auto auto auto;
}
nav .logo{
    width: 64%;
}
nav ul{
    float: right;
   margin-right: 40%;
}

nav ul li{
display: table-row;
line-height: 80px;
margin: 0 5px;
}
nav ul li a{
    margin: 22% 0% 0% 120%;
    color: #504dc1;
    font-weight: lighter;
    font-size: 30px;
    text-shadow: 2px 0px 0px #ffd007;
    border-radius: 3px;
    text-transform:uppercase;
    text-decoration: none;
}
 a:hover{
    background: #B5AED0;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
}
.quad{
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 20px ;
    }
.quad, .a{
  padding: 3% 13% 10%;
  margin: 0% 7% 0% 0%;
}  
.quad h1{
  margin: 2% 0% 8% 0%;
}  
.contenu-projet .cp-title{
  padding: 2% 0% 2% 5%;
  text-align: center;
}
.contenu-projet #cp-p{
  padding: 2% 0% 2% 5%;
  text-align: center;
}
.contenu-projet ol li{
  padding: 0% 18%;
  text-align: left;
}
@media (max-width: 1000px)
{
    label.logo{
      font-size: 30px;
    
    }
    nav ul li a{
      font-size: 16px;
    }
    
  }
    /*Mobile navbar*/
    @media (max-width: 858px){
    
        .checkbtn{
          display: block;
        }
        ul{
          position: sticky;
          width: 100%;
          height: 100vh;
          background: #2c3e50;
          top: 80px;
          left:0%;
          text-align: center;
          transition: all .5s;
        }
        nav ul li{
          display: block;
         
        }
        nav ul li a{
          font-size: 20px;
        }
        a:hover,a.active{
          background: none;
          color: #0082e6;
        }
        #check:checked ~ ul{
          left: 0;
        }
    }    
 
                        /* head-photo */


 #head-photo{
     width: 100%;
     height: 800px;
 }    

#slogan{
    text-align: center;
}

                    /*-----Contenu grid-------*/
 .contenu{
     display: grid;
     grid-template-columns: auto auto auto;
     margin: 20% 0% 0% 15%;
     
 }
 .contenu img{
     max-width: 50%;

 }
  .contenu h1{
     text-align: center;
     margin: 0 50% 10% 0;
 } 

 #five-point{
     text-align: center;
 }
 .icons{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20%;
    max-width: 80%;
    margin: 0% 0% 0% 6%;
    
}
#truck{
    /* Vector */
transform: matrix(-1, 0, 0, 1, 0, 0);

}
.phrases{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

#fondateur{
    text-align: center;   
}

